<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="ExelConfiguration" type="SimpleConfig.Section, SimpleConfig" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
      
    </startup>

  <ExelConfiguration >
    <DataColumn
      Index="1"
      Picture="2"
      PageNomer ="3"
      Section ="4"
      Sex ="5"
      English ="6"
      SectionChiness="7"
      Chinese ="8">
    </DataColumn>
    <DataRow  Title="1">
      
    </DataRow>
    

  </ExelConfiguration>


</configuration>