<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="ExcelConfiguration" type="SimpleConfig.Section, SimpleConfig" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
      
    </startup>

  <ExcelConfiguration >
   
    <DataRowIndex  Title="1">
    </DataRowIndex>
  
    <DataColumn>
      <!--<DataItem Index="" Nomer="1" Name ="index"></Index>-->
      <Picture Nomer="2" Name ="pic"></Picture>
      <Page Nomer="3" Name ="Page№"></Page>
      <Section Nomer="4" Name ="section"></Section>
      <Sex Nomer="5" Name ="sex" ></Sex>
      <Language Nomer="6" Name ="English"></Language>
   
    </DataColumn>
    <NamePage Section ="section"></NamePage>
    <NameColumnSection MainLanguage="English" MainLanguageReduction="">

    </NameColumnSection>
 
  </ExcelConfiguration>


</configuration>